<div class="jumbotron">
  <h1>Создание сообщения</h1>
  <p>Введите ваше сообщение и выберите способ уничтожения сообщения</p>
  <p>Поддерживается только английский язык</p>

  <form class="form-inline" action="/messages/create" method="POST">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Ваше сообщение</label>
      <!-- <input type="textarea" name="model[message]" class="form-control" id="exampleInputEmail3" placeholder="сообщение..."> -->
      <br /><br />
      <input type="text" name="message[content]" value="Ваше сообщение (поддерживается только английский)" class="form-control"/>
      <input type="text" name="password" value="Придумайте пароль" class="form-control"/>
    </div>
    <br /><br />
    <div class="radio">
      <label>
        <input type="radio" name="message[mode]" id="optionsRadios1" value="after_visit" checked>
        Удалить сообщение после <input type="text" name="message[visits]" value="1" class="form-control"/> визитов
      </label>
    </div>
    <br />
    <div class="radio">
      <label>
        <input type="radio" name="message[mode]" id="optionsRadios2" value="after_time">
        Удалить сообщение через 
        <input type="text" name="message[time]" value="1" class="form-control"/> час(ов)
      </label>
    </div>
    
    <br /><br />

    <button type="submit" class="btn btn-default">Создать</button>
  </form>

</div>