<div class="jumbotron">
  <h1>Просмотр сообщения</h1>
  <p>ID: <%= @message.id %></p>
  <p>Кол-во посещений: <%= @visit_count %></p>
  <p>Сообщение: <%= @content %></p>
  <br />
  <p><a class="btn btn-primary btn-lg" href="/" role="button">На главную</a></p>
</div>