<div class="jumbotron">
  <h1>Разблокировка</h1>
  <p>Введите пароль для просмотра зашифрованного сообщения №<%= @id %></p>

  <form class="form-inline" action="/messages/show/<%= @id %>" method="POST">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Ваше сообщение</label>
      <br /><br />
      <input type="password" name="password" placeholder="Введите пароль" class="form-control"/>
    </div>
    <br /><br />
    </div>
    <br /><br />
    <button type="submit" class="btn btn-default">Разблокировать</button>
  </form>

</div>