<div class="jumbotron">
  <h1>SemitaSoft</h1>
  <p>Приветствуем. Данный ресурс поможет Вам создать секретное сообщение, которое будет позже удалено выбранным Вами методом</p>
  <p><a class="btn btn-primary btn-lg" href="/create" role="button">Написать зашифрованное сообщение</a></p>
</div>