<div class="jumbotron">
  <h2 style='text-align: center;'><b>Создавайте защишенные сообщения вместе с</b></h2>
  <h1 style='text-align: center;'><b>SafeMessage</b></h1>
  <br />
  <p>Рады Вас приветствовать на сайте приватных сообщений. Данный ресурс позволит Вам создать сообщение\послание, доступ к которому можно получить только по указанному паролю. Сообщения проходят несколько стадий шифрования и хранятся на сервере в безопасном виде. Вы можете быть абсолютно уверенны в сохранности и конфиденциальности Вашей информации. Спасибо, что Вы с нами</p>
  <br /><br />
  <p>Чтобы начать, <a class="btn btn-success btn-lg" href="/messages/new" role="button">создайте сообщение</a></p>
  <!-- <div class="form-group">
    <input type="text" class="form-control" id="inputPassword2" placeholder="Или вставьте Safe-ссылку в формате 'http://localhost/ololo'">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Перейти к сообщению</button> -->
</div>

